.contacts {
}

.contacts__item {
  display: flex;
  align-items: center;
  color: $color-c;
  font-size: 0.9375rem;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__img {
  width: 30px;
  text-align: center;
}
