.group {
  display: flex;
  flex-direction: column;
}

.group__img {
  & > img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}

.group__about {
  padding: 22px 30px 26px;
  background-color: #fff;
  height: 100%;
  @include media-breakpoint-down(sm) {
    padding: 15px 10px;
  }
  @include media-breakpoint-down(xs) {
    padding: 20px 15px;
  }
}

.group__name {
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}
