.partners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.partners__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(25% - 23px);
  @include media-breakpoint-down(xs) {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  &:nth-child(4n + 4) {
    margin-right: 0;
  }
  & > img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 0.5s;
    &:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none;
    }
  }
}
