/**
  Контрольные точки
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px
) !default;

/**
  Часто используемые цвета
*/

$color-a: #a6b3bb;
$color-b: #ecedef;
$color-c: #1e3138;
$color-d: #3b4a51;
$color-e: #5d6366;

/* 
  Шрифты
*/

$font-a: "Montserrat", sans-serif;
